<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Attachment_Quick_Saver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Attachment_Quick_Saver.Properties.Settings>
            <setting name="SenderEmailAddress" serializeAs="String">
                <value>DuBourg_7855_RES_Rm_444@slu.edu</value>
            </setting>
            <setting name="button1_path" serializeAs="String">
                <value>C:\Users\schuelkem\OneDrive - Saint Louis University\Classes\SLU-18-19-S\MATH 4850\notes\</value>
            </setting>
            <setting name="button2_path" serializeAs="String">
                <value>C:\Users\schuelkem\Desktop\</value>
            </setting>
        </Attachment_Quick_Saver.Properties.Settings>
    </applicationSettings>
</configuration>